<a href="https://colab.research.google.com/github/luiz-star/Intro_Pandas/blob/main/Intro_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução ao Pandas

In [88]:
# Importando as Bibliotecas
import pandas as pd

# Leitura de Dados

In [89]:
# Leitura de dados csv
df = pd.read_csv('https://pycourse.s3.amazonaws.com/temperature.csv')
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [90]:
#Leitura de planilhas excel
#2 abas (worksheets)

#Leitura do arquivo todo
excel_file = pd.ExcelFile('https://pycourse.s3.amazonaws.com/temperature.xlsx')

In [91]:
# Leitura da primeira aba (Sheet1)
#dados númericos com separador decimal = '.' (ponto como separador decimal)
df2 = pd.read_excel(excel_file, sheet_name='Sheet1')
df2

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

In [92]:
#Leitura da segunda aba (Sheet2)
#dados numéricos com separador decimal = ',' (virgula como separador decimal)
df3 = pd.read_excel(excel_file, sheet_name='Sheet2')
df3

        date temperatura classification
0 2020-01-01        29,1         quente
1 2020-02-01        31,2   muito quente
2 2020-03-01        28,5         quente
3 2020-04-01        28,0         quente
4 2020-05-01        24,0    confortavel
5 2020-06-01        20,0           frio

In [93]:
# Visualizando as primeiras linhas
n = 3
df.head(n)

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente

In [94]:
# visualizando as ultimas linhas
n = 3
df.tail(n)

         date  temperatura classification
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [95]:
#dtypes ( tipo dos dados)
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

In [96]:
# estatísticas básicas
df.describe()

       temperatura
count     6.000000
mean     26.800000
std       4.075782
min      20.000000
25%      25.000000
50%      28.250000
75%      28.950000
max      31.200000

In [97]:
# Dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            6 non-null      object
 1   temperatura     6 non-null      float64
 2   classification  6 non-null      object
dtypes: float64(1), object(2)
memory usage: 272.0+ bytes

In [98]:
# Nomes das colunas
df.columns

Index(['date', 'temperatura', 'classification'], dtype='object')

# Indexação

In [99]:
df.head()

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel

In [100]:
# seleção de uma coluna
df['date']

0    2020-01-01
1    2020-02-01
2    2020-03-01
3    2020-04-01
4    2020-05-01
5    2020-06-01
Name: date, dtype: object

In [101]:
# tipo
type(df['date'])

pandas.core.series.Series

In [102]:
# seleção de multiplas colunas
df[['date', 'classification']]

         date classification
0  2020-01-01         quente
1  2020-02-01   muito quente
2  2020-03-01         quente
3  2020-04-01         quente
4  2020-05-01    confortavel
5  2020-06-01           frio

In [103]:
# tipo
type(df[['date', 'classification']])

pandas.core.frame.DataFrame

In [104]:
# iloc  ( acessa elementos por indice )
df.iloc?

In [105]:
#indexação por indice
# selecionado todas as linhas e a coluna 1
# coluna 1 : temperatura
df.iloc[:, 1]

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [106]:
# indexação por nome da coluna
# selecionado todas as linhas e a coluna 1
df.loc[:, 'temperatura']

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [107]:
# indexação por indice de multiplas colunas
df.iloc[:, 1:3]

   temperatura classification
0         29.1         quente
1         31.2   muito quente
2         28.5         quente
3         28.0         quente
4         24.0    confortavel
5         20.0           frio

In [108]:
# indexação por nome por multiplas colunas
df.loc[:,['temperatura', 'classification']]

   temperatura classification
0         29.1         quente
1         31.2   muito quente
2         28.5         quente
3         28.0         quente
4         24.0    confortavel
5         20.0           frio

In [109]:
# indexação por nome de multiplas colunas
df.loc[:, 'temperatura']

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

# Indexação Booleana

In [110]:
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [111]:
# dtype
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

In [112]:
#transformando o tipo da coluna date para datetime
df['date'] = pd.to_datetime(df['date'])
df.dtypes

date              datetime64[ns]
temperatura              float64
classification            object
dtype: object

In [113]:
# setando o indice
df = df.set_index('date')

In [114]:
# visualizando o índice
df

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente
2020-05-01         24.0    confortavel
2020-06-01         20.0           frio

In [115]:
# 5 primeiras linhas
df.head()

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente
2020-05-01         24.0    confortavel

In [116]:
# Indexação Booleana
#Seleção de exemplos acima de 25 graus
df[df['temperatura'] >= 25]

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente

In [118]:
cond = df['temperatura'] >= 25
cond

date
2020-01-01     True
2020-02-01     True
2020-03-01     True
2020-04-01     True
2020-05-01    False
2020-06-01    False
Name: temperatura, dtype: bool

In [117]:
#Indexação Booleana considerando datetime
#Seleção de entradas até Março de 2020
df[df.index <= '2020-03-01']

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente

In [119]:
# Indexação Booleana considerando datetime
#Seleção de entradas até Março de 2020 e
# Slice na coluna classification
df.loc[df.index <= '2020-03-01', ['classification']]

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente

In [120]:
# # Indexação Booleana considerando datetime
#Seleção de entradas até Março de 2020 e
# Slice na coluna classification
df.iloc[df.index <= '2020-03-01', [-1]]

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente